#content{
    width: 100%;
}
#backg{
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
}
.slide{
    position: absolute;
    left: 20px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}
.quiz-container{
    position: absolute;
    height: 20%;
    margin-top: 3%;
    left: 5%;
}
.button2:hover{
    background-color: rgb(4, 188, 201);
}
