.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	border-radius: 8px;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button1 {
	background-color: white;
	color: black;
}
.button1:hover {
	background-color: #4CAF50;
	color: white;
}
.center {
	margin: auto;
	width: 50%;
	padding: 160px;
}
#content{
    height: 81vh;
}
table{
	margin: 0 auto;
	width: 500px;
}
.ml11 {
  font-weight: 700;
  position:absolute;
  bottom:180px;
  left:50px;
}
.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: red;
  transform-origin: 0 50%;
  animation: blink 1.3s linear infinite;
  animation-delay: 1.7s;
}
@keyframes blink{
    0% {opacity: 0;}
	50% {opacity: 0;}
	75%{opacity: 0.8;}
	100% {opacity: 0;}
}
.ml11 .line1 {
  top: 0;
  left: 0;
}
.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.w3-animate-fading{
	animation:fading 4s
}
@keyframes fading{
		0%{opacity:0}
		25%{opacity:0}
		100%{opacity:1}
}
#mul{
	font-weight: bold;
	font-family:cursive;
	font-size:1.15em;
	color:brown;
	position:absolute;
	bottom:60px;
	right:10%;
}
.w3-animate-fading{
	position:absolute;
	bottom:120px;
	left:140px;
}

.button {
background-color: #54321d;
border: none;
color: white;
padding: 6px 16px;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 8px;
}



.button1 {
background-color: white;
color: black;
border: 2px solid #54321d;
position: absolute;
right:23%;
}



.button1:hover {
background-color: #54321d;
color: white;
}
